# Python
__pycache__/
*.py[cod]
*$py.class
venv

# IDE
.vscode
.idea

# Log
*.log

# Vim
*.swap

# Git

# Other
~*
.~*
*.autosave
.scannerwork

# Custom config file
auto_rx/station.cfg
auto_rx/log/

auto_rx/log_power.csv
auto_rx/log_power_0.csv

*.o

auto_rx/reset_usb
auto_rx/rs41ecc
auto_rx/rs41mod
auto_rx/rs92ecc
auto_rx/rs92mod
auto_rx/dfm09ecc
auto_rx/dfm09mod
auto_rx/dft_detect
auto_rx/fsk_demod
auto_rx/imet1rs_dft
auto_rx/lms6Xmod
auto_rx/lms6mod
auto_rx/m10mod
auto_rx/rs_detect
auto_rx/imet54mod
auto_rx/mXXmod
auto_rx/mp3h1mod

m10
meisei100mod
mk2a_lms1680
demod/dfm09ecc
demod/mod/dfm09mod
demod/mod/lms6Xmod
demod/mod/lms6mod
demod/mod/meisei100mod
demod/mod/rs41mod
demod/mod/rs92mod
demod/mod/m10mod
demod/mod/imet54mod
demod/mod/mXXmod
demod/mod/mp3h1mod
imet/imet1rs_dft
m10/m10
mk2a/mk2a_lms1680
scan/dft_detect
utils/fsk_demod
rs41/rs41ecc
rs92/rs92ecc
rs_module/rs41mod
rs_module/rs92mod
scan/reset_usb
scan/rs_detect
