.gitignore
auto_rx/log/*
auto_rx/log_power.csv
auto_rx/reset_usb
auto_rx/rs41ecc
auto_rx/rs41mod
auto_rx/rs92ecc
auto_rx/rs92mod
auto_rx/rs_detect
auto_rx/station.cfg
rs41/rs41ecc
rs92/rs92ecc
rs_module/rs41mod
rs_module/rs92mod
scan/reset_usb
scan/rs_detect
*.pyc
*.o
