    #scan_chart .c3-circles-Spectra {
        display: none;
    }
    #scan_chart .c3-circles-Threshold{
        display: none;
    }
    #scan_chart .c3-line-Threshold {
        stroke-dasharray: 5,5;
    }

    .tableFixHead          { overflow-y: auto; height: 400px; }
    .tableFixHead thead th { position: sticky; top: 0; }
    table  { border-collapse: collapse; width: 100%; }
    th, td { padding: 8px 16px; }
    th     { background:#eee; }
