html,
body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

p {
  margin-top: 0.3vh;   
  margin-top: calc(var(--vh, 1vh) * 0.3); 
  margin-bottom: 0.3vh;
  margin-bottom: calc(var(--vh, 1vh) * 0.3); 
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

a {
  color: inherit;
}

.wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 20px;
  flex: auto;
  display: flex;
  flex-direction: column;
}

#downdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 10;
  text-align: center;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.3);
}

.settings {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 20px;
  text-align: centre;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.settings form {
  margin-left: 60px;
  color: white;
}

.sidenavtable {
  flex: 1 1 auto;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.scrollsettings {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.sidenav img {
  height: 10vh;
  height: calc(var(--vh, 1vh) * 10); 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidenav h2 {
  font-size: 1.2em;
  color: white;
  text-align: center;
}

.settings h2 {
  font-size: 1.2em;
  color: white;
  text-align: center;
}

.settings p {
  color: white;
  text-align: center;
}

button {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #2196F3;
}

button:hover {
  background-color: #2196F3;
  color: white;
}

button:disabled,
button[disabled]{
  background-color: #333333;
  color: black;
}

.footer {
  font-size: 15px;
  color: white;
  text-align: center;

}

.sidenav table {
  font-size: 20px;
  color: white;
  text-align: center;
  table-layout: fixed;
}

.sidenav td {
  padding-bottom: 1em;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  flex: auto;
  display: flex;
  flex-direction: column;
}

#mapid { 
  flex: auto;
  z-index: 0;
}

.footerdiv {
  flex: 0 1 auto;
}

.headerdiv {
  flex: 0 1 auto;
}

.maintable table, .maintable td, .maintable th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px;
}

.maintable {
  border-collapse:separate; 
  border-spacing: 0 1em
}

.sidenav .closebtn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 36px;
  display: none;
  text-decoration: none;
  color: white;
}

.settings .closebtn2 {
  position: absolute;
  top: 6px;
  left: 16px;
  font-size: 36px;
  text-decoration: none;
  color: white;
}

#myBtn {
  cursor: pointer;
  position: absolute;
  right: 16px;
}

#historyBtn {
  cursor: pointer;
  position: absolute;
  right: 6vh;
  right: calc(4vh + 24px);
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#scan_chart .c3-circles-Spectra {
    display: none;
}

#scan_chart .c3-circles-Threshold{
    display: none;
}

#scan_chart .c3-line-Threshold {
    stroke-dasharray: 5,5;
}

#scan_chart .c3-target-Peaks {
    fill: #ff7f0e;
    stroke: #ff7f0e;
}

#scan_chart .c3-tooltip-container {
    width: 200px;
    color: black;
}

#telem_table a:link, #telem_table a:visited #log_data a:link, #log_data a:visited {
    font-weight: bold;
    text-decoration: none;
    color:inherit;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: grey;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  overflow: scroll;
  margin: 15vh auto;
  margin:calc(var(--vh, 1vh) * 15) auto;
  max-height: 75vh;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  float: right;
  font-size: 54px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

#password-input {
  width: 140px;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#frequency-input {
  width: 130px;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:disabled,
input[disabled]{
  background-color: #333333;
  color: black;
}

select:disabled,
select[disabled]{
  background-color: #333333;
  color: black;
}

.control {
    height: 42px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
    #main span, #main p, #myBtn, #scanid {
        color: white;
    }
    .c3-axis-y, .c3-axis-x, .c3-legend-item text {
        fill: white;
    }
    .domain, .tick line {
        stroke: white;
    }
    #mapid span {
        color: black;
    }
    .sidenav {
        background-color: #414141;
    }
    .settings {
        background-color: #414141;
    }
}

.sondeTooltip {
    font-size: 11px;
    font-weight: bold;
}

/* workaround for subpixel lines https://github.com/Leaflet/Leaflet/issues/3575#issuecomment-688644225 */
.leaflet-tile-container img {
    width: 256.5px !important;
    height: 256.5px !important;
}

/* The slider itself */
#skewt-decimation {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25%; /* Full-width */
  height: 35px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  position: relative;
}

/* Mouse-over effects */
#skewt-decimation:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#skewt-decimation:before {
  visibility: hidden;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#skewt-decimation::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: #2196F3; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#skewt-decimation::-moz-range-thumb {
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
