<!DOCTYPE HTML>
<html>
<head>
    <title>Auto-RX Log</title>

    <link href="{{ url_for('static', filename='css/c3.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/socket.io-1.4.5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

    <script src="{{ url_for('static', filename='js/leaflet.js') }}""></script>

    <!-- Load d3.js and c3.js -->
    <script src="{{ url_for('static', filename='js/d3.v5.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/c3.min.js') }}""></script>
    <!-- Custom style to remove circles on the Spectra graph, and do a few other formatting things -->
    <style>
    #scan_chart .c3-circles-Spectra {
        display: none;
    }
    #scan_chart .c3-circles-Threshold{
        display: none;
    }
    #scan_chart .c3-line-Threshold {
        stroke-dasharray: 5,5;
    }
    </style>

    <script type="text/javascript" charset="utf-8">
        // Dummy auto_rx.config, which will be replaced with real data on page load.
        var autorx_config = {
            lat: 0.0,
            lon: 0.0
        };

        $(document).ready(function() {
            // Use the 'update_status' namespace for all of our traffic
            namespace = '/update_status';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Grab the System config on startup.
            // Refer to config.py for the contents of the configuration blob.
            $.ajax({
                  url: "/get_config",
                  dataType: 'json',
                  async: false,
                  success: function(data) {
                    autorx_config = data;
                  }
            });


            // Event handler for Log data.
            socket.on('log_event', function(msg) {
                // On receipt, add to the log div. 
                // TODO: Have this div be a scrollable area, and always show the latest log message.
                $('#log').append('<br>' + $('<div/>').text(msg.timestamp + ' ' + msg.level + ": " + msg.msg).html());
                // Scroll to the bottom of the log div
                $("#log").scrollTop($("#log")[0].scrollHeight);
            });

            // Scan Result Chart Setup!
            // TODO: Maybe move this out to another file.
            var scan_chart_spectra = {
                xs: {
                    'Spectra': 'x_spectra'
                },
                columns: [
                    ['x_spectra',autorx_config.min_freq, autorx_config.max_freq],
                    ['Spectra',0,0]
                ],
                type:'line'
            };

            var scan_chart_peaks = {
                xs: {
                    'Peaks': 'x_peaks'
                },
                columns: [
                    ['x_peaks',0],
                    ['Peaks',0]
                ],
                type:'scatter'
            };

            var scan_chart_threshold = {
                xs:{
                    'Threshold': 'x_thresh'
                },
                columns:[
                    ['x_thresh',autorx_config.min_freq, autorx_config.max_freq],
                    ['Threshold',autorx_config.snr_threshold,autorx_config.snr_threshold]
                ],
                type:'line'
            };

            var scan_chart_obj = c3.generate({
                bindto: '#scan_chart',
                data: scan_chart_spectra,
                axis:{
                    x:{
                        tick:{
                            format: function (x) { return x.toFixed(3); }
                        },
                        label:"Frequency (MHz)"
                    },
                    y:{
                        label:"Power (dB - Uncalibrated)"
                    }
                },
                point:{r:10}
            });

            // Scan Event handler
            socket.on('scan_event', function(msg) {
                // There is Scan data ready for us!
                // Grab the latest set of data.
                $.getJSON("/get_scan_data", function(data){
                    scan_chart_spectra.columns[0] = ['x_spectra'].concat(data.freq);
                    scan_chart_spectra.columns[1] = ['Spectra'].concat(data.power);
                    scan_chart_peaks.columns[0] = ['x_peaks'].concat(data.peak_freq);
                    scan_chart_peaks.columns[1] = ['Peaks'].concat(data.peak_lvl);

                    scan_chart_threshold.columns[1] = ['Threshold'].concat([data.threshold+autorx_config.snr_threshold,data.threshold+autorx_config.snr_threshold]);
                    // Plot the updated data.
                    scan_chart_obj.load(scan_chart_spectra);
                    scan_chart_obj.load(scan_chart_peaks);
                    scan_chart_obj.load(scan_chart_threshold);

                    // Show the latest scan time.
                    $('#scan_results').html('<b>Latest Scan:</b> ' + data.timestamp);

                }
                );
            });

            // Sonde position Map
            // Setup a basic Leaflet map, with an OSM tileset.
            var sondemap = L.map('sonde_map').setView([autorx_config.station_lat, autorx_config.station_lon], 8);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(sondemap);

            var homeIcon = L.icon({
                iconUrl: '{{ url_for('static', filename='img/antenna-green.png') }}',
                iconSize: [26, 34],
                iconAnchor: [13, 34]
            });

            var sondeAscentIcon = L.icon({
                iconUrl: '{{ url_for('static', filename='img/balloon-blue.png') }}',
                iconSize: [46, 85],
                //iconAnchor: [13, 34]
            });
            var sondeDescentIcon = L.icon({
                iconUrl: '{{ url_for('static', filename='img/parachute-blue.png') }}',
                iconSize: [46, 84],
                //iconAnchor: [13, 34]
            });
            // Add a new marker, but set it to hidden initially.
            var home_marker = L.marker(sondemap.getCenter(),
                {title: 'Receiver Location', icon: homeIcon}
                ).addTo(sondemap);
            
            // Add a marker which will be updated with sonde positions.
            // TODO: Handle multiple sondes!
            var sonde_marker = L.marker([0.0,0.0],
                {title:'Sonde', icon: sondeAscentIcon}
                ).addTo(sondemap);
            

            // Telemetry event handler.
            // We will get one of these with every line of telemetry decoded
            socket.on('telemetry_event', function(msg) {
                // Telemetry Event messages contain the entire telemetry dictionary, as produced by the SondeDecoder class.
                // This includes the fields: ['frame', 'id', 'datetime', 'lat', 'lon', 'alt', 'temp', 'type', 'freq', 'freq_float']
                // Update the telemetry div
                $('#telemetry').html('<b>Type: </b>' + msg.type + '<b> ID: </b>' + msg.id + ' <b> Frame: </b> ' + msg.frame + '<b> Position: </b>' + msg.lat.toFixed(5) + ',' + msg.lon.toFixed(5) + '<b> Alt (m): </b>' + msg.alt.toFixed(1)) + ' <b> Asc Rate (m/s): </b>' + msg.vel_v.toFixed(1);
                if(msg.vel_v<0){
                    sonde_marker.setIcon(sondeDescentIcon);
                }else{
                    sonde_marker.setIcon(sondeAscentIcon);
                }
                // Update the sonde marker on the map
                sonde_marker.setLatLng([msg.lat,msg.lon]).update();
                // Centre the map on the sonde position.
                sondemap.panTo([msg.lat, msg.lon]);
            });


            // Tell the server we are connected and ready for data.
            socket.on('connect', function() {
                socket.emit('client_connected', {data: 'I\'m connected!'});
                // This will cause the server to emit a few messages telling us to fetch data.
            });

        });
    </script>
</head>
<body>
    <h1>Radiosonde Auto-RX</h1>
    <h2>Current Sonde:</h2>
    <div id="telemetry">Nothing being tracked...</div><br>
    <div id="sonde_map" style="height:300px;width:75%"></div>
    <h2>Scan Results:</h2>
    <div id='scan_results'>No scan data yet...</div>
    <div id="scan_chart" style="width:75%;">
    </div>
    <h2>Log:</h2>
    <div id="log" style="height:400px;overflow:scroll"></div>
</body>
</html>
